%tr
  %td
    = image_tag("small_placeholder.jpg")
  %td
    = link_to fighter.name, fighter_path(fighter)
    =h "by #{fighter.user} (#{fighter.cost} ArmadaBucks)"
    %br/
    = truncate(fighter.description,50)
  %td
    = link_to image_tag('icon_small_show.png'), fighter_path(fighter)
