%h2
  = @fighter.name

%p
  = "created by #{@fighter.user} on #{@fighter.date}"

%br  

%div.img_container
  = image_tag("placeholder.jpg")
%p
  %b Name:
  = h @fighter.name
%p
  %b Fighter type:
  = h @fighter.fighter_type
%p
  %b Primary weapon:
  = h @fighter.primary_weapon
%p
  %b Secondary weapon:
  = h @fighter.secondary_weapon
%p
  %b Pilot name:
  = h @fighter.pilot_name
%p
  = h @fighter.description
%br
%h2
  Cost: #{h @fighter.cost}
  
= link_to 'Edit', edit_fighter_path(@fighter)
|
\#{link_to 'Back', fighters_path}
