%tr
  %td
    = image_tag("small_placeholder.jpg")
  %td
    = link_to fighter.name, members_fighter_path(fighter)
    =h "by #{fighter.user} (#{fighter.cost} ArmadaBucks)"
    - if fighter.user == current_user
      = link_to( image_tag(fighter.get_favorite_image(current_user)), favorites_members_fighter_path(fighter), :method => :put)
    %br/
    = truncate(fighter.description,:length => 50)
  %td
    = link_to image_tag('icon_small_show.png'), members_fighter_path(fighter)
    = link_to image_tag('icon_small_edit.png'), edit_members_fighter_path(fighter)
    = link_to image_tag('icon_small_delete.png'), members_fighter_path(fighter), :confirm => 'Are you sure?', :method => :delete
