%tr
  %td
    = image_tag(fighter.photo.url(:thumb))
  %td
    = link_to fighter.name, members_fighter_path(fighter)
    =h "by #{fighter.user} (#{fighter.cost} ArmadaBucks)"
    
    - if @favorites[fighter.id]
      = link_to( image_tag('icon_small_star.png'), favorites_members_fighter_path(fighter), :method => :put)
    - else
      = link_to( image_tag('icon_small_star_inactive.png'), favorites_members_fighter_path(fighter), :method => :put)

    %br/
    = sample_with_more(fighter.description, 50, html_options = {})
  %td
    = link_to image_tag('icon_small_show.png'), members_fighter_path(fighter)
    - if(fighter.user == current_user)
      = link_to image_tag('icon_small_edit.png'), edit_members_fighter_path(fighter)
      = link_to image_tag('icon_small_delete.png'), members_fighter_path(fighter), :confirm => 'Are you sure?', :method => :delete
