- form_for [:members, @fighter], :html => {:multipart => true} do |f|
  = f.error_messages
  - if !@fighter.new_record?
    %div.img_container
      = image_tag(@fighter.photo.url(:normal))
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :fighter_type
    = f.text_field :fighter_type
  %p
    = f.label :primary_weapon
    = f.text_field :primary_weapon
  %p
    = f.label :secondary_weapon
    = f.text_field :secondary_weapon
  %p
    = f.label :pilot_name
    = f.text_field :pilot_name
  %p
    =# f.label :photo
    =# f.file_field :photo
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :cost
    = f.text_field :cost
 
  %p
    = f.submit 'Move Zig', :class => "bright"
