- content_for :title do
  My Fighters
%h2
  My Fighters
%p
  = "#{pluralize(Fighter.count,'fighters')} as of #{Time.now.strftime("%b %d, %Y")}"
.fighters
  = fighters_list(@fighters)
  
%br/
= link_to 'New fighter', new_members_fighter_path
