%h2
  = @fighter.name

  .action
    = link_to image_tag('icon_small_larrow.png'), members_fighters_path
    = link_to 'back to list', members_fighters_path
  - if(@fighter.user == current_user)
    .action
      = link_to image_tag('icon_small_edit.png'),
                edit_members_fighter_path(@fighter)
      = link_to 'edit',
                edit_members_fighter_path(@fighter)
    .action
      = link_to image_tag('icon_small_delete.png'),
                members_fighter_path(@fighter),
                :confirm => 'Are you sure?',
                :method => :delete
      = link_to 'delete',
                members_fighter_path(@fighter),
                :confirm => 'Are you sure?',
                :method => :delete
  .action
    = favorite_toggle @favorites[@fighter.id], favorites_members_fighter_path(@fighter)
      

%p
  = "created by #{@fighter.user} on #{@fighter.date}"

%br  

%div.img_container
  = image_tag(@fighter.photo.url(:normal))
%p
  %b Name:
  = h @fighter.name
%p
  %b Fighter type:
  = h @fighter.fighter_type
%p
  %b Primary weapon:
  = h @fighter.primary_weapon
%p
  %b Secondary weapon:
  = h @fighter.secondary_weapon
%p
  %b Pilot name:
  = h @fighter.pilot_name
%p
  = h @fighter.description

%br
%h2
  Cost: #{h @fighter.cost}
