%tr
  %td
    = image_tag("small_placeholder.jpg")
  %td
    = link_to fighter.name, admin_fighter_path(fighter)
    =h "by #{fighter.user} (#{fighter.cost} ArmadaBucks)"
    
    - if @favorites[fighter.id]
      = link_to( image_tag('icon_small_star.png'), favorites_admin_fighter_path(fighter), :method => :put)
    - else
      = link_to( image_tag('icon_small_star_inactive.png'), favorites_admin_fighter_path(fighter), :method => :put)
    %br/
    = truncate(fighter.description,:length => 50)
    - if fighter.description.length > 50
      %a{:id => "more_#{fighter.id}"}
        = "more"
    
  %td
    = link_to image_tag('icon_small_show.png'), admin_fighter_path(fighter)
    = link_to image_tag('icon_small_edit.png'), edit_admin_fighter_path(fighter)
    = link_to image_tag('icon_small_delete.png'), admin_fighter_path(fighter), :confirm => 'Are you sure?', :method => :delete
