%h2
  = @fighter.name
  .action
    = link_to image_tag('icon_small_larrow.png'), admin_fighters_path
    = link_to 'back to list', admin_fighters_path
  .action
    = link_to image_tag('icon_small_edit.png'),
              edit_admin_fighter_path(@fighter)
    = link_to 'edit',
              edit_admin_fighter_path(@fighter)
  .action
    = link_to image_tag('icon_small_delete.png'),
              admin_fighter_path(@fighter),
              :confirm => 'Are you sure?',
              :method => :delete
    = link_to 'delete',
              admin_fighter_path(@fighter),
              :confirm => 'Are you sure?',
              :method => :delete

    = link_to( image_tag(@fighter.get_favorite_image(current_user)), favorites_admin_fighter_path(@fighter), :method => :put)
%p
  = "created by #{@fighter.user} on #{@fighter.date}"

%br  

%div.img_container
  = image_tag("placeholder.jpg")
%p
  %b Name:
  = h @fighter.name
%p
  %b Fighter type:
  = h @fighter.fighter_type
%p
  %b Primary weapon:
  = h @fighter.primary_weapon
%p
  %b Secondary weapon:
  = h @fighter.secondary_weapon
%p
  %b Pilot name:
  = h @fighter.pilot_name
%p
  = h @fighter.description
%br
%h2
  Cost: #{h @fighter.cost}
